{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  {{template "body"}}
	<div class="container well">
	<h2>Alerts</h2>
	<hr>
	{{range $element := .Alerts}}
    	<div class="alert alert-danger">{{$element}}</div>
	{{end}}
	</div>
</body>
</html>
{{end}}
